body{
	margin: 0;
	padding:0;
}

.show { display: block; }
.hide { display: none; }

a{ text-decoration: none; }

.drawer-title{
	background-color: rgb(0, 188, 212);
	margin: 0px;
	padding: 0px 16px;
	line-height: 64px;
	text-align: center;
	font-size: 24px;
	color: white;
}

.tempHumidTitle{
	width: 40%;
	display: inline-block;
	padding: 15px;
	text-align: center;
	font-size: 18px;
	font-family: Roboto,sans-serif;
}

.content{
	display: inline-block;
	margin: 20px 0;
	width: 100%;
}

.pad-hoz-15{
	padding: 0 15px 15px 15px;
}

.text-right{ text-align: right; }

.text-center{ text-align: center; }

.fa-1_5x{ font-size: 1.5em; }

.dashboardModuleIcon{
	color: #038090;
}

 .width50{
	width: 50%;
	display: inline-block;
}

.moduleStatusLight{
	width: 18px;
	height: 18px;
	display: inline-block;
	border-radius: 50%;
	float: right;
    margin: 3px 5px 0 0;
}
.moduleStatusLightON{
	background-color: rgba(8, 220, 15, 0.6);
	border: 3px solid darkgreen;
}
.moduleStatusLightOFF{
	background-color: rgba(218, 39, 39, 0.6);
	border: 3px solid darkred;
}

.footerStyle{
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;
	min-height: 30px;
	background-color: rgba(0, 24, 28, 0.6);
	padding: 10px 0;
	text-align: center;
	color: white;
	font-size: 12px;
	font-weight: 600;
}
